@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.dark {
  background: black;
  color: #fff;
}
.light {
  background: #fff;
  color: #000;
}
.h-500 {
  height: 500px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
} /* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
} /* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
:-webkit-scrollbar-thumb {
  background: #555;
}
/* Handle on hover */
:-webkit-scrollbar-thumb:hover {
  background: #333;
}
